<main>
  <div class="chat-wrapper">
    <h3 class="d-flex justify-content-between align-items-center">
      Supa Chat
      <button (click)="logOut()" class="btn btn-secondary">Log out</button>
    </h3>

    <div class="card">
      <div class="col-12">
        <div class="chat-messages p-4" #chatMessagesContainer>
          @for (msg of this.chats(); track msg) {
            <div 
              class="chat-message-left position-relative"
              (mouseenter)="showMessageActions(msg)"
              (mouseleave)="hideMessageActions(msg)"
            >
              <div class="avatar-container">
                <img
                  src={{msg?.users?.avatar_url}}
                  alt="User Avatar"
                  class="rounded-circle avatar-status"
                  width="40" height="40"
                />
                <div>
                  <div class="font-weight-bold d-flex align-items-center">
                    {{msg?.users?.full_name}}
                    <span class="ms-2">✅</span>
                  </div>
                  <div class="text-muted small text-nowrap">
                    {{msg?.created_at | date: 'h:mm a'}}
                    <span class="ms-2">{{msg?.created_at | date: 'EEEE, MMMM d'}}</span>
                  </div>
                </div>
              </div>

              <div class="text-inner mt-2" [innerHtml]="formatMessage(msg?.text || '')"></div>

              <!-- Indicador de respostas -->
              <!-- <div class="text-muted small replies-indicator mt-2" *ngIf="msg?.replies?.length > 0">
                {{msg.replies.length}} replies
              </div> -->

              <div class="message-reactions mt-2" *ngIf="msg.showActions">
                <span class="reaction-button">+</span>
              </div>

              <span
                *ngIf="msg.showActions"
                (click)="openDropDown(msg)"
                class="message-options position-absolute top-0 end-0"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                ...
              </span>
              <ul class="dropdown-menu dropdown-menu-end">
                <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</a></li>
                <li><a class="dropdown-item" href="#" (click)="replyToMessage(msg)">Reply</a></li>
                <li><a class="dropdown-item" href="#" (click)="copyMessage(msg.text)">Copy Message</a></li>
              </ul>
            </div>
          } @empty {
            <div class="no-chats-message">No chats available. Start a conversation!</div>
          }
        </div>

        <form [formGroup]="chatForm" (ngSubmit)="onSubmit()">
          <div class="chat-input-area px-4 py-3 border-top">
            <div *ngIf="replyingToMessage" class="reply-preview">
              Replying to: <b>{{replyingToMessage.users.full_name}}</b>: {{replyingToMessage.text}}
              <span class="clear-reply" (click)="clearReply()">x</span>
            </div>
            <div class="input-group">
              <input
                formControlName="chat_message"
                type="text"
                class="form-control"
                placeholder="Type your message"
              />
              <button
                [disabled]="!chatForm.valid"
                class="btn btn-primary"
              >
                Send
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>



<app-delete-modal />